@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(#414141,#000000) ;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   
}
h1{ 
    text-align: center;
}

.formLogin {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#1354ce,rgb(7, 33, 151)); 
    border-radius: 10px;
    padding: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    gap: 5px
    

}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    font-size: 2.3em;
}



.formLogin input {
   
    width: 335px;
    background-color: #001486bd;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 5px;
    border-radius: 15px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #000000;
}


.formLogin a {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 13px;
    color: #ffffff;
    transition: all linear 160ms;
    text-decoration: none;
    
}

.formLogin a:hover {
    color: #0c36c0;
}

a{
    text-align: center;
    margin-left: 100px;
    
}
.btn {

    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 ;
    width: 400px !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #000000;

}


.container {
    display: inline-block;
    position: relative;

    width: 300px;
  }
  
  .container figcaption {
    position: absolute;
    top: 145px;
    right: 20px;

  }
  #login{
    color:rgb(255, 255, 255);
  }
  #senha{
    color:rgb(255, 255, 255);
  }

  @media (min-width: 100px) and (max-width: 369px){
    .img3{
        width: 300px;
        margin-left: 50px !important;
        margin-bottom: -170px;
        margin-top: -30px;
    }
    .page{
        scale: 0.60;
    }
  }

  @media (min-width: 370px) and (max-width: 450px){
    .img3{
        width: 300px;
        margin-left: 50px !important;
        margin-bottom: -170px;
        margin-top: -30px;
    }
    .page{
        scale: 0.75;
    }
  }

  @media (min-width: 451px) and (max-width: 650px){
    .img3{
        width: 450px;
        margin-bottom: -130px;
        margin-top: -50px;
        margin-left: 70px !important;
    }
    .page{
        scale: 0.85;
        margin-left: 10px !important;
    }

  }

  @media (min-width: 651px) and (max-width: 849px){
    .img3{
        width: 450px;
        margin-bottom: -130px;
        margin-top: -50px;
        margin-left: 250px !important;
    }
    .page{
        scale: 0.90;
    }

  }

  @media (min-width: 850px) and (max-width: 1060px){
    .img3{
        width: 450px;
        margin-bottom: -130px;
        margin-top: -50px;
        margin-left: 250px !important;
    }
    .page{
        scale: 1.00;
    }

  }

  @media (min-width: 1060px) and (max-width: 1400px){
    .img3{
        width: 450px;
        margin-bottom: -130px;
        margin-top: -50px;
        margin-left: 250px !important;
    }
    .page{
        scale: 1.00;
    }

  }